.MuiList-root{
    min-width: 580px;
}
.abcd{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
.MuiAutocomplete-root{
    margin-bottom: 6%;
}
.iconBtn{
    margin-right: -2rem;
}