.rightContent {
    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
        margin: 1rem;
    }

    img {
        width: 60%;
        margin-left: 4rem;
    }
}
  .app-specific-class img{
    width: auto;
  }
.css-11pbyhm-MuiSvgIcon-root{
    font-size: .6rem;
}
.iconfont{
    font-size: 22px;
}
.css-cveggr-MuiListItemIcon-root{
    margin-right: -1.5rem;
}